* {
    font-family: "Helvetica Neue", sans-serif;
}

#sidebar {
    transition: margin-left 0.53s;
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 77px;
    position: fixed;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#content {
    transition: margin-left 0.53s;
    margin-left: 270px;
}

#sidebar.collapsed {
    margin-left: -270px;
}

#content.expanded {
    margin-left: 0;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    color: #000000;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: 650;
}

.card {
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

body,
html {
    background-color: #d9d9d9;
    height: fit-content;
    margin: 0;

}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-header {
    padding: 15px 0;
}

.logo {
    display: flex;
    align-items: center;
    width: 999rem;
}

.logo-img {
    width: 50px;
    height: auto;
    margin: 0 10px 0 8px;
}

.logo-text {
    margin: 0 0 0 5px;
    font-size: 24px;
    font-weight: bold;
}

a {
    font-weight: 600;
    text-decoration: none;
}

.sidebar-item {
    padding-left: 20px;
}

.btn-light {
    background-color: #ffffff;
    border-radius: 10px;
    border: 0.5px solid #d9d9d9;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    border-top: 1px solid #e9ecef;
    z-index: 0;
}

.floating-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 9999;
}

.floating-button:hover {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 9999;
    background-color: #000000;
    transform: scale(1.2);
}

.nav-link {
    color: #000000;
}

.active {
    z-index: 0;

}

.bg-light {
    --bs-bg-opacity: 0.95;
}

.list-group-item.active {
    background-color: #248A3D;
    color: #ffffff;
    border-color: #248A3D;
}

.sidebar-item.active {
    background-color: #248A3D;
    color: #ffffff;
    border-color: #248A3D;
}

.pagination .page-item.active .page-link {
    background-color: #248A3D;
    color: #ffffff;
    border-color: #248A3D;
}

.pagination .page-item .page-link {
    background-color: #ffffff;
    border-color: #d9d9d9;
    color: #0a0a0a;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the animation to elements with the "animated-item" class */
.content-t {
    animation: fadeIn 0.5s ease-in-out;
}

.table th {
    vertical-align: middle;
    text-justify: auto;
  }


.table td {
    vertical-align: middle;
    text-justify: auto;
  }

table {
    width: 100%;
    table-layout: fixed; /* Set the table layout to "fixed" */
}

table th, table td {
    padding: 8px;
    word-wrap: break-word; 
}
td.number {
    text-align: center;
    width: 70px;
}

th.number {
    text-align: center;
    width: 70px;
}

td.act {
    text-align: center;
}

th.act {
    text-align: center;
}

.logout {
    color: #111111;
}

.bg-brand {
    background-color: #248A3D;
    border-color: #248A3D;
    color: #fff; /* Ensure text color contrasts with background */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
}

/* Hover state */
.bg-brand:hover {
    background-color: #165024;
    border-color: #165024;
}

/* Focus state (for accessibility) */
.bg-brand:focus {
    background-color: #165024;
    border-color: #165024;
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 0.2rem rgba(28, 100, 15, 0.5); /* Custom focus outline */
}

/* Active state (when button is clicked) */
.bg-brand:active {
    background-color: #144a2e;
    border-color: #144a2e;
}

/* Disabled state (if applicable) */
.bg-brand:disabled {
    background-color: #a1d5a2;
    border-color: #a1d5a2;
    color: #6c757d; /* Adjust text color for disabled state */
    cursor: not-allowed; /* Change cursor to indicate disabled */
}

/* Modal Fade-in Effect */
.modal.custom-fade .modal-dialog {
    transition: opacity 1s ease, transform 1s ease;
    opacity: 0;
    transform: translateY(-30px); /* Start from above */
  }
  
  .modal.custom-fade.show .modal-dialog {
    opacity: 1;
    transform: translateY(0); /* Move to normal position */
  }
  
  /* Dimming Background */
  .modal-backdrop.custom-fade {
    transition: opacity 1s ease;
    opacity: 0;
  }
  
  .modal-backdrop.custom-fade.show {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
  }
  
  /* CSS for fade-in and fade-out effects */
.custom-fade {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .custom-fade.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .custom-fade:not(.show) {
    opacity: 0;
    transform: translateY(-50px);
  }
  
  /* CSS for dimming the page background */
  .modal-backdrop.custom-fade {
    transition: opacity 0.5s ease-in-out;
  }
  
  .modal-backdrop.custom-fade.show {
    opacity: 0.5;
  }
  
  .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
 /* Apply styles to the numbering column */
th.number-column, td.number-column {
    text-align: center; /* Center align text */
    padding-right: 10px; /* Add some padding to the right */
    font-weight: bold; /* Make the numbers bold */
    color: #333; /* Set the text color */
    background-color: #f9f9f9; /* Set a background color */
    white-space: nowrap; /* Prevent text from wrapping */
    min-width: 50px; /* Minimum width to accommodate numbers */
    max-width: 100px; /* Maximum width to prevent being too wide */
    width: 50px; /* Fixed width to fit numbers */
}

/* Optional: add some border styles */
th.number-column, td.number-column {
    border-right: 1px solid #ddd; /* Add a right border */
}


.bg-brand2 {
    background-color: #fafafa;
    border-color: #fafafa;
    color: #000; /* Ensure text color contrasts with background */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
}

/* Hover state */
.bg-brand2:hover {
    background-color: #248A3D;
    border-color: #248A3D;
}

/* Focus state (for accessibility) */
.bg-brand2:focus {
    background-color: #248A3D;
    border-color: #248A3D;
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 0.2rem rgba(28, 100, 15, 0.5); /* Custom focus outline */
}

/* Active state (when button is clicked) */
.bg-brand2:active {
    background-color: #248A3D;
    border-color: #248A3D;
}

/* Disabled state (if applicable) */
.bg-brand2:disabled {
    background-color: #a1d5a2;
    border-color: #a1d5a2;
    color: #6c757d; /* Adjust text color for disabled state */
    cursor: not-allowed; /* Change cursor to indicate disabled */
}