.App {
    font-family: "Helvetica Neue", sans-serif;
      text-align: center;
    }
    
    * {
      box-sizing: border-box;
    }
    
    body {
      background: url(https://cdn.usahamandirimagelang.com/images/10x.png) center center no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: "Helvetica Neue", sans-serif;
      height: 100vh;
      margin: -20px 0 50px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      position: relative;
    }
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.726);
    }

    .card {
      width: 70vh;
    }