.category-add-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.category-add-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.category-edit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.category-edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.category-add-modal .add-category-form,
.category-edit-modal .edit-category-form {
  display: flex;
  flex-direction: column;
  height: 100%; /* Menetapkan tinggi modal agar dapat memanfaatkan flexbox */
}

.category-add-modal .add-category-form label,
.category-edit-modal .edit-category-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.category-add-modal .add-category-form input,
.category-edit-modal .edit-category-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.category-add-modal .add-category-form button,
.category-edit-modal .edit-category-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  align-self: flex-end; /* Mengatur tombol ke ujung bawah */
  margin-top: auto; /* Menggunakan margin-top: auto untuk mendorong ke bawah */
}

.category-add-modal .add-category-form button:hover,
.category-edit-modal .edit-category-form button:hover {
  background-color: #45a049;
}

.category-add-modal .add-category-form .message,
.category-edit-modal .edit-category-form .message {
  margin-top: 10px;
  color: red;
  text-align: center;
}
