.category-list-container {
    padding: 2rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #248a3d;
    color: white;
  }
  
  th, td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  button {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .edit-button {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-button {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
  }
  
  .add-button:hover {
    background-color: #45a049;
  }
  