.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    background-color: #248a3d;
    color: white;
    padding: 1rem 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan drop shadow */
    z-index: 1000;
  }
  
  .hamburger {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  
  .navbar-title {
    font-size: 1.5rem;
    color: white; /* Ganti dengan warna yang diinginkan */
  text-decoration: none;
  cursor: pointer;
  }
  
  .sidebar {
    background-color: #333;
    color: white;
    width: 250px;
    height: calc(100vh - 4rem); /* Adjusted to fit under the navbar */
    position: fixed;
    top: 4rem; /* Same as navbar height */
    left: -250px;
    transition: left 0.3s;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid #444;
  }
  
  .sidebar ul li:hover {
    background-color: #575757;
  }
  
  .main-content {
    margin-top: 3.5rem; /* Same as navbar height */
    padding: 1rem;
    flex-grow: 1;
    transition: margin-left 0.3s;
    margin-left: 0;
  }
  
  .main-content.sidebar-open {
    margin-left: 250px;
  }

  a {
  color: white; /* Ganti dengan warna yang diinginkan */
  text-decoration: none;
  cursor: pointer;
  }